<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>default</contextName>
    <property name="log.path" value="log" />
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
       <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread][%X{requestUUID}] %-5level %logger{36}.%line || %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/logback.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread][%X{requestUUID}] %-5level %logger{36}.%line || %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <!--logback.LogbackDemo：类的全路径 -->
    <!-- 
    <logger name="com.mrbird.controller.LoginController" level="WARN" additivity="false">
        <appender-ref ref="console"/>
    </logger> -->
    
    <springProfile name="test,dev">
    	<logger name="org.springframework" level="INFO" />
    	<logger name="org.springframework.web" level="TRACE" />
    	<logger name="org.hibernate" level="INFO" />
    	<logger name="org.hibernate.SQL" level="DEBUG" />
    	<logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />
    	<logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" />
    </springProfile>
    
    <springProfile name="prod">
    	<logger name="org.springframework" level="WARN" />
    	<logger name="org.springframework.web" level="TRACE" />
    	<logger name="org.hibernate" level="WARN" />
    </springProfile>
    
</configuration>