body {
	padding-top: 20px;
}

.ivu-modal-confirm-body {
	padding: 0;
}

.ivu-modal-confirm-body img {
	width: 100%;
}

.my-search {
	padding: 20 30;
}

.my-search-text {
	font-weight: bold;
	font-size: 18px;
}

.my-zan {
	font-size: 22px;
}

.my-zan:hover :before {
	content: "\F3BF";
}

.my-search-auto-complete-item {
	padding: 4px 0;
	border-bottom: 1px solid #F6F6F6;
}

.my-search-auto-complete-group {
	font-size: 12px;
	padding: 4px 6px;
}

.my-search-auto-complete-group span {
	color: #666;
	font-weight: bold;
}

.my-card {
	margin: 0 10 20 10;
}

.my-border-bottom {
	border-bottom: 1px solid #e8eaec;
}

.my-path {
	padding: 10 10 10 10;
}

.my-path span {
	margin: 5;
	cursor: pointer;
}

.my-path span:hover {
	opacity: 0.3;
}

.my-mark {
	padding: 10 10 10 10;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.my-mark div {
	margin: 5 20;
	cursor: pointer;
}

.my-mark div:hover {
	opacity: 0.3;
}

.my-mark-link {
	overflow: hidden;
	text-overflow: ellipsis;
	display: grid;
	white-space: normal;
}

.my-root-color {
	color: #17233d;
	font-weight: 700;
}

.my-dir-color {
	color: #e96900;
}

.my-mark-color {
	color: #57a3f3;
}